@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a.intext {
    text-decoration: underline;
    color: rgb(250 204 21);
    transition: all;
    transition-duration: 100ms;
}

a.intext:hover {
    color: rgb(255, 132, 0);
}